footer {
  font-family: "Josefin Sans";
  font-weight: normal;
  height: 210px;
  font-size: 0.75rem;
}

footer > h1,
h2,
p,
div > h2 {
  font-family: "Josefin Sans";
  font-weight: normal;
}

.footer-wrapper {
  top: 20%;
  position: center;
}

.logo {
  text-align: center;
}

.logo > img {
  width: auto;
  height: 124px;
  padding-left: 40%;
}

.icon-social {
  padding-top: 20px;
  text-align: center;
}

.icon {
  padding-right: 30px;
}

.icon > img {
  margin-right: 20px;
  width: 73px;
  height: auto;
}

.copyright {
  padding-top: 38px;
  color: #707070;
  vertical-align: middle;
}

.copyright > p {
  color: #c04446;
}

.text-copyright {
  margin-bottom: 0;
  padding-bottom: 0;
}

@media screen and (max-width: 1480px) {
  .icon {
    padding-right: 20px;
  }
  .icon > img {
    padding-top: 15px;
  }

  .icon-social {
    padding-top: 10px;
  }

  footer > h1,
  div > h2,
  p {
    font-size: 1.3rem;
  }

  .logo > img {
    padding-left: 0;
  }

  .copyright {
    padding-top: 30px;
  }
}

@media screen and (max-width: 968px) {
  .icon {
    padding-right: 0;
  }
  .logo > img {
    padding-top: 10px;
    padding-left: 0;
    width: auto;
    height: 100px;
  }
  .icon > img {
    margin-right: 10px;
    padding-top: 15px;
    width: 53px;
    height: auto;
  }

  .icon-social {
    padding-top: 10px;
  }

  .copyright {
    padding-top: 30px;
  }

  footer > h1,
  div > h2,
  p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 540px) {
  .logo > img {
    width: auto;
    height: 64px;
    padding-left: 0;
    margin-top: 20px;
  }

  .icon {
    padding-right: 0;
  }

  .copyright {
    padding-top: 38px;
  }

  .icon-social {
    text-align: center;
    padding-left: 0;
    padding-top: 20px;
    vertical-align: middle;
  }
  .col {
    padding-left: 0;
  }
  .icon > img {
    margin-right: 7px;
    width: 35px;
    height: auto;
  }

  footer > h1,
  div > h2,
  p {
    font-size: 80%;
  }
}
